/.venv/
/.venv/
*.pyc
*.mp4
error_log.txt
error_log.txt
somefile.log
/CartoonGenerate/toonize-main/.venv2/
/CartoonGenerate/toonize-main/.venv2/
/CartoonGenerate/toonize-main/.venv2/Lib/site-packages/annotated_doc/__init__.py
/.venv/
/Harfiles/.venv/