/.venv/
/.venv/
*.pyc
*.mp4
*.pth
*.log
error_log.txt
error_log.txt
somefile.log
/CartoonGenerate/toonize-main/.venv2/
/CartoonGenerate/toonize-main/.venv2/
/CartoonGenerate/toonize-main/.venv2/Lib/site-packages/annotated_doc/__init__.py
/.venv/
/Harfiles/.venv/
# AI Models
*.pth
*.pt
*.bin
*.onnx
*.ckpt
*.safetensors
CartoonGenerate/toonize-main/checkpoints/
*.pth
/CartoonGenerate/toonize-main/checkpoints/
*.pth
*.har
Harfiles/
*.har
/Harfiles/har_files/